<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Page</title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <form action="/home" method="post">
        <input type="text" placeholder="Your name" class="you" name="from">
        <input type="text" placeholder="Send your message" class="msgbox" name="msg">
        <input type="text" placeholder="Senders name" class="towhom" name="to">
        <button  class="sendit" type="submit">Send it</button>
    </form>

</body>
</html>