body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('container.jpg');  /* image ka sahi path yahan likho */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  box-sizing: border-box;
}


.container{
  

    
  background: rgba(255,255,255,0.1);  /* 0.1 = zyada transparent */
  border-radius: 32px;
  border: 1px solid #333;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

   margin-top: 200px;
   margin-left: 470px;
    height: 350px;
    width: 550px;
    border: 2px solid black;
    border-radius: 10%;
  /* background-image: url('container.jpg');  /* image ka sahi path yahan likho */
 /* background-size: cover; */
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.boxes-box1{
    display: flex;
  flex-direction:row ;
 justify-content: space-between;
    
}

.paragraph{
    padding-left: 20px;
    
    position: relative;
    bottom: 25px;
}

.boxes{
  position: relative;
  bottom: 15px;
}

.boxes-box2{
    display: flex;
  flex-direction:row ;
 justify-content: space-between;
padding-top: 20px;
    
}

.head-container{

    margin-left: 75px;
    font-size: larger;
   
}

.input{
    border-radius: 10%;
    background-color: white;
    color: black;
    height: 40px;
    width: 110px;
    text-align: center;
    font-size: large;
}

.box2{

    width: 60px;
    padding-top: 5px;
    padding-left: 30px;
       
}
.Country{
    width: 75px;
    height: 35px;
    border-radius: 15%;
    text-align: end;
}

.Amount{
    position: relative;
    bottom: 20px;
}

.imgsize1{
    height: 25px;
    width: 25px;
}

.imgdiv1{
    position: absolute;
    left: 793px;
    bottom: 432px;
}

.imgsize2{
    height: 25px;
    width: 25px;
}

.imgdiv2{
    position: absolute;
    left: 793px;
    bottom: 367px;
}

