
.outer{
    height: 210px;
    width: 190px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: medium;
    color: white;

}

.inner{
    height: 120px;
    width: 120px;
    background-color: rgb(150, 150, 160);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 15px;

}

.deposit{
    position: relative;
    bottom: 10px;
    background-color: darkgreen;
}
.withdraw{
    background-color: rgb(164, 13, 13);

}
.money{
    position: relative;
    bottom: 25px;
}