body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    height: 70.5%;
    width: 340px;
    background-color: black;
    border-radius: 1rem;
    margin-right: 1rem;
}

.mainpage{
    width: 100vh;
    flex: 1;
    height: 85%;
margin-top: 1rem;
 background-color: #121212;
border-radius: 1rem;
display: flex;
flex-direction: column;
overflow-y:auto;
overflow-x: hidden;
}

.footer{
    height: 100%;
    width: 100%;
}

.nav-option{
    /* position: relative;
    left: 15px; */

    width: 97%;
    height: 100px;
    background-color: #121212;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
}

.nav-option img{
height: 2.5rem;
position: relative;
left: 9.5rem;
bottom: 2.7rem;
}

.nav-option .home,.search{
position: relative;
left: 1.4rem;
top: 1.5rem;
margin-bottom: 1rem;
}

.search  a,.fa-magnifying-glass{
   color: rgb(151, 151, 151);

}

.search .fa-magnifying-glass:hover{
    color: #ffffff;
}
.search a:hover{
    color: white;
}


/* playlist section */
.playlist-section{
    height: 100%;
    width: 97%;
   background-color: #121212;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.library{
     width: 90%;
    height: 60px;
  color: rgb(142, 139, 139);
    margin: 1rem;
    display: flex;
    justify-content: space-around;

}
.show-prop:hover{
    color: #ffffff;
    text-decoration: underline;

}

.your-library a{
 color: rgb(151, 148, 148);
    

}

.your-library{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.add{
     color: rgb(104, 100, 100);
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.add i:hover{
color: rgb(255, 255, 255);
}


/* first-playlist */

.first-playlist{
     width: 90%;
    height: 200px;
    background-color: #1d1c1c;
    margin: 1rem;
    border-radius: 1rem;

    
}

.first-playlist h3,p,.btn{
    position: relative;
    top: 1rem;
    left: 1.5rem;
}

.btn{
    height: 15%;
    border-radius: 1rem;
    font-weight: bold;
}

.second-playlist {
    height: 200px;
    width: 90%;
     background-color: #1d1c1c;
    margin: 1rem;
    border-radius: 1rem;
   
}
.second-playlist .h3,.para,.bttn{
     position: relative;
    top: 1rem;
    left: 1rem;

}

.bttn{
    height: 18%;
    border-radius: 1rem;
    font-weight: bold;
}

/* MAIN PAGE */

/* NAV SECTION */

.nav-bar{
    position: sticky;
    box-sizing: border-box;
    top: 0px;
    height: 100px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.icon-sectn{
    height: 100%;
    width: 200px;
    background-color: #121212;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.icon-sectn button{
    width: 40px;
    height: 40px;
border-color: black;
    border-radius: 50%;
    background-color: black;

}
.icon-sectn img{
    padding-top: 3px;
}

.explore-section{
    height: 100%;
    width: 400px;  
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.explore .exp{
   height: 33px;
    border-radius: 1rem;
    font-size: medium

   
}

.install i{
   position: relative;
   right: 3px;
}
.install button{
width: 120px;
   height: 33px;
    border-radius: 1rem;
    font-weight: bold; 
    background-color: black;
    color: white;  
}

.user{
    border-radius: 50%;
    height: 25px;
    font-size: medium;
    background-color: black;
    color: white;

}

.explore,.install,.user{
    margin: 0.5rem;
}

.items{
    flex: 1;
    width: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;

}
.card{
    border-radius: 1rem;

    height: 400px;
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0.5rem;
    background-color: #1f1e1e;
}

    
@media (max-width:1000px) {

    .hide{
        display: none;
    }
    
}

.options{
    width: 100%;
    margin-top:1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.option{
   margin-right: 6rem;
}


.item{
    margin-top: 1rem;
}

/* footer */

.footer-container{
    margin: 1.8rem;
    border-top: 1px solid rgb(39, 38, 38);
    border-bottom: 1px solid  rgb(39, 38, 38);
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.contact-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
    position: relative;
    top: 1rem;
    left: 0.5rem;


  
}

.links{
    
font-size: large;
    border-radius: 50%;
     padding: 1rem; 
    margin: 1rem; 
    background-color: #1d1c1c;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
       

} 
.listing{
    list-style-type: none;
    color: #ffffff;
    font-weight: bold;
    margin-right: 3rem;
    position: relative;
    right: 3rem;

}
.decor{
    margin-top: 1rem;
    color: #a9a9a9;
    font-weight: 400;
}


.links:hover{
    background-color: rgb(97, 96, 96);
}

.decor:hover{
    text-decoration: underline;
    color: #ffffff;
}
.copiright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.security{
    width: 60%;
     color: #a9a9a9;
    margin-left: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.prop:hover{
      color: #ffffff;
}

.AB{
    margin-right: 4rem;
    font-weight: 300;
}

/* footer */

.footer{
display: flex;
flex-direction: row;

}

.last-first{
width: 25%;
/* background-color: bisque; */
}

.last-mid{
    position: relative; 
    left: 20rem;
    padding-top: 2rem;
width: 50%;
/* background-color: rgb(72, 13, 104); */

}

.last-mid img{
    height: 1.5rem;
    
}

.last-last{
width: 25%;
/* background-color: brown; */
position: relative;
top: 2.5rem;
left: 13rem;



}


.playbackbar{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 0.5rem;
    width: 50%;
    height: 2.5rem;
    /* background-color: darkblue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.shift{
    margin-left: 7rem;
}
.playbackbar img{
    padding-right: 1rem;
}

.range{
    width: 80%;
    height: 0.2rem;

  

}

.volume img{
    height: 1rem;
    padding-left: 1rem;
}

.audio{
    height: 0.2rem;
    width: 30%;
}